<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN//EN"
"http://www.springframework.org/dtd/spring-beans.dtd">
<beans>
<bean id="postrequest" class="org.Restservices.BusinessLogicwebservices">
</bean>
<bean id="getrequest" class="org.Restservices.BusinessLogicwebservices">
</bean>

<bean id="putrequest" class="org.Restservices.BusinessLogicwebservices">
<property name="url" value="https://www.amazon.in" />
</bean>

</beans>
